<configuration scan = "true" scanPeriod=" 5 seconds" debug="false">

    <!--业务日志输出格式-->
    <property name="SERVICE_OUTPUT_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{INNER_TRACE_ID}] %-5level %logger{56} - %msg%n" />

    <property name="LOG_PATH"
              value="../../../log"/>

    <!--日志文件保留最大天数-->
    <property name="MAX_DAY" value="30"/>
    <property name="MAX_SIZE" value="100mb" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${SERVICE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="MAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/main.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/main-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_DAY}</maxHistory>
        </rollingPolicy>
        <!--日志打印的格式-->
        <encoder>
            <pattern>${SERVICE_OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤器，只打印error级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>${LOG_PATH}/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/error-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}/root.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}/root-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>${MAX_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${MAX_DAY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!--所有logger的父节点，当某些日志没有指定具体的logger时，则执行root节点的日志打印策略-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>